.nav-item {
  position: relative;
  cursor: pointer;
  transition: color 0, 3s ease;
}
.nav-item::after {
  content: "";

  width: 0;
  display: block;
  margin: 0 auto;
  height: 1px;
  background-color: black;
  transition: width 0.3s ease-in-out;
}
.nav-item:hover::after {
  width: 100%;
}

.activeLine::after {
  content: "";

  width: 100%;
  height: 1px;
  background-color: black;
}
.clip-path-circle-small {
  clip-path: circle(0px at 90% -10%);
}

.clip-path-circle-full {
  clip-path: circle(150vh at 90% -10%);
}
